@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;0,800;0,900;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: Source Sans Pro;
  font-size: 19px;
}


.banner {
  background-image: url('https://images.unsplash.com/photo-1590780103547-385d473704ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80');
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}

.banner h1 {
  color: #FFF;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}


.banner p {
  color: rgba(255,255,255);
  font-size: 1rem;
  font-style: italic;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

p {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: #666;
  margin: 0.5rem 0;
}

.container a {
  background-color: #E8AC57;
  display: inline-block;
  margin: 1rem 0;
  padding: 0 5px;
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  font-style: italic;
  text-decoration: none;
  color: #FFF;
}

.container a:hover {
  background-color: #E7A239;
}

footer {
  text-align: center;
  background-color: #211D18;
  padding: 15px;
  font-size: 0.7rem;
}

footer p {
  color: rgba(255,255,255,0.8);
}


/*@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}
*/
